$white:         #FFF;
$red:           #E65C43;
$blue:          #483D8B;
$gray:          #666;
$graybar:       #F5F6F6;
$footer:        #30353D;
$body-background: url('../images/bg.gif');
$body-font:       'Roboto', sans-serif;
$logo:            url('../images/logo.png');
$heading-colors: $red, $white, $gray;
$social_media_image:'../images/social-media.png';